/* Basic Style */
.page {
  background-color: #f8f8f8;
  color: #333;
  font-family: Lato, sans-serif;
}

.header {
  width: 500px;
  margin: 0 auto;
  display: block;
  text-align: right;
}

.header__img {
  width: 100%;
}

.header__link {
  font-family: fantasy, cursive;
  display: block;
  margin-bottom: 1em;
}

@media (max-width: 768px) {

  .header {
    text-align: center;
  }

}

.main {
  display: block;
  width: 500px;
  margin: 0 auto 0;
}

.article__input,
.list__input,
.list__label {
  width: 56%;
  display: inline-block;
  flex-grow: 1;
}

.article__input-wrapper {
  display: flex;
  margin-bottom: 1em;
}

.list {
  margin: 0;
  padding: 0;
}

.list__item,
.article__heading,
.section__heading {
  list-style: none;
}

.article__input,
.list__input,
.list__checkbox,
.article__add-btn,
.list__btn-edit,
.list__btn-delete {
  outline: none;
}

.article__add-btn,
.list__btn-edit,
.list__btn-delete {
  background: none;
  border: 0;
  color: #888;
  font-size: 15px;
  width: 60px;
  font-family: Lato, sans-serif;
  cursor: pointer;
}

.article__add-btn:hover,
.list__btn-edit:hover,
.list__btn-delete:hover {
  color: #3a3a3a;
}

/* Heading */
.article__heading,
.section__heading {
  padding: 30px 0 10px;
  border-bottom: 2px solid #333;
}

.article__heading,
.section__heading,
.article__input-label {
  color: #333;
  font-weight: 700;
  font-size: 15px;
  margin: 0;
  text-transform: uppercase;
}

.article__input,
.list__input {
  margin: 0;
  font-size: 18px;
  line-height: 18px;
  height: 21px;
  padding: 0 9px;
  border: 1px solid #ddd;
  background: #fff;
  border-radius: 6px;
  font-family: Lato, sans-serif;
  color: #888;
}

.article__input:focus,
.list__input:focus {
  color: #333;
}

/* New Task */
.article__input-label {
  display: block;
  margin: 0 0 20px;
}

.article__input {
  width: 318px;
}

/* Task list */
.list__item {
  overflow: hidden;
  padding: 20px 0;
  border-bottom: 1px solid #eee;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.list__checkbox {
  margin: 0 10px;
}

.list__label {
  padding-left: 10px;
  box-sizing: border-box;
  font-size: 18px;
  width: 226px;
}

.list__input {
  width: 226px;
}

.list__btn-img {
  height: 2em;
  transform: rotateZ(45deg);
  transition: transform 200ms ease-in;
}

.list__btn-img:hover {
  transform: rotateZ(0);
}

/* Completed */
.list--completed .list__label {
  text-decoration: line-through;
  color: #888;
}

/* Edit Task */
.list__input {
  display: none;
}

.list__item--edit .list__input {
  display: inline-block;
  width: 224px;
}

.list__item--edit .list__label {
  display: none;
}